[submodule "teensy_library"]
	path = teensy_library
	url = https://github.com/XenGi/teensy_library.git
[submodule "teensy_loader_cli"]
	path = teensy_loader_cli
	url = https://github.com/PaulStoffregen/teensy_loader_cli.git
